img{
	height: 270px;
	border-radius: 150px;
	margin: 1% 0 0 2%;
	display: inline-block;
	opacity: .7;
	transition: transform .4s;
}

.info{
	color: white;
	margin-top: 2%;
	margin-left: 4%;
	vertical-align: top;
	display: inline-block;
}
img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 1;
}
.info h2{
	font-size: 2.3em;
	margin-top: -12px;
}
.info h1{
	font-weight: bolder;
	font-size: 5.8em;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.info h4{
	font-size: 1.6em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.plist p{
	font-size: 20px;
	font-weight: bold;
	font-family: "Comic Sans MS", sans-serif;
}
.plist h4, .plist p{
	display:inline-block;
}

.plist{
	margin-left: 5%;
	margin-bottom: -10px;
}
.icons{
	width: 120px; 
	position: fixed; 
	z-index: 1;
	top: 0; 
	right: 0;
	margin-right: 2%;
	/* background-color: rgba(17, 17, 17, 0.301); */
	overflow-x: hidden;
	padding-top: 20px;
	display: inline-block;
}
@-webkit-keyframes swing{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.plist:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.info h2:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.info h1:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.linkedin a{
	color: rgb(0, 89, 255);
}
.instagram a{
	color: rgb(255, 74, 42);
}
.github a{
	color: black;
}
.gmail a{
	color: rgb(255, 255, 255);
}
section #services {
	/* margin-left: 20%; */
	transform: translatez(0);
	/* margin-top:6%; */
  }
  section #services li {
	/* width: 180px;
	height: 180px; */
	display:block;
	/* margin-right:px; */
	list-style: none;
  }
  section #services li div {
	width: 70px;
	height: 70px;
	font-size: 3.4em;
	text-align: center;
	line-height: 70px;
	background-color: rgba(255, 255, 255, 0);
	transition: all 0.5s ease;
  }
  section #services li div:hover {
	transform: rotate(360deg);
	border-radius: 100px;
  }
.containerr {
	margin: 0;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


