<div class="containerr">
    <div class="sidenav">
        <a [routerLink]="" (click)="scrollTo('head')">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <a [routerLink]="" (click)="scrollTo('projects')">
            <i class="fa fa-code" aria-hidden="true"></i>
        </a>
        <a [routerLink]="" (click)="scrollTo('about')">
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <a [routerLink]="" (click)="scrollTo('contact')">
            <i class="fa fa-telegram" aria-hidden="true"></i>
        </a>
    </div>
    <div id="head" class="header">
        <h1>hi, i'm andrew.</h1>
        <div class="plist">
            <h4> developer. </h4>
        </div>
        <div class="plist">
            <h4> creator. </h4>
        </div>
        <div class="plist">
            <h4> surfer. </h4>
        </div>
        <div class="plist">
            <h4> explorer. </h4>
        </div>
    </div>
    <div id="projects">
        <h1>Projects</h1>
        <div class="projectOne">
            <div id="hideimg">
                <img id="hide" src="assets/imgs/2.PNG" alt="">
            </div>
            <div id="controlOne" class="carousel">
                <img id="one" src="assets/imgs/1.PNG" alt="">
                <img id="two" src="assets/imgs/2.PNG" alt="">
                <img id="three" src="assets/imgs/3.PNG" alt="">
            </div>
            <button id="left" (click)="goLeft()">
                <<</button> <button id="right" (click)="goRight()">>>
            </button>
            <div class="honorable">
                <h2>Honorable Mention</h2>
                <li>This web application was build as an easy way to store
                    suggestions and recommendations given for dining, activities, ect.. while also
                    being able to see each item on a map just by adding to your list.

                </li>
                <li>It was built using Django and Python with a SQLite database. We implemented
                    an API(mapbox) that is used to keep track of your recommendations that are stored
                    on a map so you can see where you are and if there is anything you've saved in
                    your area.
                </li>

                <div class="githubb">
                    <a href="https://github.com/andrewjknell/honorable_mention2" title="view code" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <h5>view code</h5>
                </div>
                <hr>
            </div>
        </div>
        <div class="projectTwo">
            <div id="hideimg">
                <img id="two" src="assets/imgs/reciple2.PNG" alt="">
            </div>
            <div id="controlTwo" class="carousel">
                <img id="one" src="assets/imgs/recipe1.PNG" alt="">
                <img id="two" src="assets/imgs/reciple2.PNG" alt="">
            </div>
            <div class="otp">
                <h2>On the Spot Recipes</h2>
                <li>This web application was built for a fun and helpful way to think of different desserts
                    you can bake while using ingrediants around your own kitchen. You simply check the different
                    ingrediants
                    you wish to use and send!
                </li>
                <li>It was built with an Angular front end with Express.js running the server. It uses RecipePuppy
                    to make API calls and find the different recipes you can create and returing 10 at a time.</li>
                <div class="githubb">
                    <a href="https://github.com/andrewjknell/just_a_pinch" title="view code" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <h5>view code</h5>
                </div>
                <hr>
            </div>
            <button id="leftRec" (click)="goLeft2()">
                <<</button> <button id="rightRec" (click)="goRight2()">>>
            </button>
        </div>
    </div>
    <div id="about">
        <figure class="swap-on-hover">
            <img class="swap-on-hover__front-image" src="assets/imgs/camp.jpg" />
            <img class="swap-on-hover__back-image" src="assets/imgs/suuurf.JPG.png" />
        </figure>
        <div class="aboutMe">
            <h2>About Me</h2>
            <p>

            </p>
            <p>When i'm not on my computer working on a project or tinkering
                with some code you will most likely find me out surfing. If I'm not
                in the water you will catch me on my bike dirt jumping or riding the
                trails up behind UCSC. I listen to music everyday of my life and enjoy playing
                guitar, drums and piano. I like solving problems, creating and learning new things
                everyday.
            </p>
        </div>
    </div>

    <div id="contact">
        <h1></h1>
        <section>
            <ul id="services">
                <li>
                    <div class="linkedin">
                        <a href="https://www.linkedin.com/in/andrewjknell" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="instagram">
                        <a href="https://www.instagram.com/sharkk_bait/?hl=en" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="github">
                        <a href="https://github.com/andrewjknell" target="_blank">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="gmail">
                        <a href="mailto:andreww.knell@gmail.com" target="_blank">
                            <i class="fa fa-envelope-square" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
<div id="footer">
</div>
<router-outlet></router-outlet>