.swap-on-hover {
	position: relative;	
	margin:  0 auto;
  }
  .swap-on-hover img {
	margin:1% 0 0 1% ;
	position: absolute;
	top:0;
	left:0;
	border-radius: 150px;
	overflow: hidden;
	height: 300px;
	width: 310px;
	margin-left: 260px;
	}
  .containerr{
	  min-height: 1300px;
  }
  .swap-on-hover .swap-on-hover__front-image {
	z-index: 9999;
	transition: opacity .3s linear;
	cursor: pointer;
  }
  
  .swap-on-hover:hover > .swap-on-hover__front-image{
	opacity: 0;
  }
.info{
	color: rgb(0, 0, 0);
	vertical-align: top;
	display: inline-block;
	margin-top: 310px;
	margin-left: 56px;
	text-align: center;
}
.info h2{
	font-size: 2.3em;
	margin-top: -12px;
	font-family:"Arial Black", Helvetica, sans-serif;

}
.info h1{
	font-size: 6.3em;
    font-family:"Arial Black", Helvetica, sans-serif;
}
.info h4{
	
	font-size: 1.6em;
	font-family: "Arial Black", Helvetica, sans-serif;
}
.soon{
	margin: 15% 0 0 0;
	text-align: center;
}
/* .plist p{
	font-size: 20px;
	font-weight: bold;
	font-family: "Comic Sans MS", sans-serif;
} */
.plist h4, .plist p{
	display:inline-block;
}

.plist{
	text-align: center;
	/* margin-left: 25%; */
	margin-bottom: -10px;
}
.plist:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.info h2:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.info h1:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.containerr {
	margin: 0;
	width: 100%;
	min-height: 2000px;
	background: linear-gradient(-45deg, #d5ffd9, #b9ecff, #b9ffe4, #b2fff5);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



@media screen and (max-width: 480px) {
	.swap-on-hover img {
		left: 50%;
		margin-left: -190px;
	}
	.containerr{
		min-height: 1300px;
	}
	.plist{
		margin-left: 0;
	}
	.info{
		margin-left: 0;

	}
	.soon{
		margin: 0 0 0 0;
		text-align: center;
		font-size: 1.3em;
	}
	.info h2{
		font-size: 1.2em;
		margin-top: -12px;
		font-family:"Arial Black", Helvetica, sans-serif;
	
	}
	.info h1{
		font-size: 2.5em;
		font-family:"Arial Black", Helvetica, sans-serif;
	}
	.info h4{
		
		font-size: 1em;
		font-family: "Arial Black", Helvetica, sans-serif;
	}
  }
