<!-- <h1 class="display-1">Hello</h1>
<p>I'm Andrew. Full-stack developer in training</p> -->
<img src="assets/imgs/camp.jpg" alt="me">

<div class="info">
    <h1 class="display-3">Hi, I'm Andrew</h1>
    <h2>full-stack web developer</h2>
    <div class="plist">
        <p>
            &lt;li&gt;
        </p>
        <h4> explorer </h4>
        <p>
            &lt;li/&gt;
        </p>
    </div>
    <div class="plist">
        <p>
            &lt;li&gt;
        </p>
        <h4> surfer </h4>
        <p>
            &lt;/li&gt;
        </p>
    </div>
    <div class="plist">
        <p>
            &lt;li&gt;
        </p>
        <h4> tinkerer </h4>
        <p>
            &lt;/li&gt;
        </p>
    </div>
    <div class="plist">
        <p>
            &lt;li&gt;
        </p>
        <h4> creater </h4>
        <p>
            &lt;/li&gt;
        </p>
    </div>
    <h4></h4>

</div>

<router-outlet></router-outlet>