<div class="containerr">
    <!-- <figure class="swap-on-hover">
            <img class="swap-on-hover__front-image" src="assets/imgs/camp.jpg" />
            <img class="swap-on-hover__back-image" src="assets/imgs/suuurf.JPG.png" />
        </figure> -->
    <div class="info">
        <div class="center">
            <h1>hi, i'm andrew</h1>
            <h2>full-stack web developer</h2>
            <div class="leftalign">
                <div class="plist">
                    <h4> explorer. </h4>
                </div>
                <div class="plist">
                    <h4> surfer. </h4>
                </div>
                <div class="plist">
                    <h4> creator. </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="soon">
        <h1>more coming soon</h1>
    </div>
</div>
<div id="footer">
    <div class="icons">
        <section>
            <ul id="services">
                <li>
                    <div class="linkedin">
                        <a href="https://www.linkedin.com/in/andrewjknell" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="instagram">
                        <a href="https://www.instagram.com/sharkk_bait/?hl=en" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="github">
                        <a href="https://github.com/andrewjknell" target="_blank">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="gmail">
                        <a href="mailto:andreww.knell@gmail.com" target="_blank">
                            <i class="fa fa-envelope-square" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
<router-outlet></router-outlet>