/* .containn{

    background: -webkit-linear-gradient(70deg, #ffffc5fa  30%, rgba(240, 243, 70, 0.096) 30%), -webkit-linear-gradient(30deg, #fffed6 60%, #fffdea 60%);
    background: -o-linear-gradient(70deg, #ffffc5fa  30%, rgba(240, 243, 70, 0.096) 30%), -o-linear-gradient(30deg, #fffed6 60%, #fffdea 60%);
    background: -moz-linear-gradient(70deg, #ffffc5fa  30%, rgba(240, 243, 70, 0.096) 30%), -moz-linear-gradient(30deg, #fffed6 60%, #fffdea 60%);
    background: linear-gradient(47deg, #fa7e7efa  30%, rgba(240, 243, 70, 0) 30%), linear-gradient(20deg, #f6f58a 60%, #82ff7e 60%);
    min-height: 100vh;
    min-width: 100%;
} */
/* faf3dd */
